//out: style.css, sourcemap: false, compress: true

.buttons {
  width: 200px;
  height: 350px;
  height: 400px;
  position: absolute;
  right: 0; top: 0;
  margin: auto;
  transform: scale(0);
  transition: 0.5s;
  z-index: 50;
  &.opened {
    transition-delay: 0.5s;
    transform: scale(1);
  }
  .sub-title {
    font-size: 1em;
    line-height: 50px;
    background-color: rgb(72, 136, 94);
    text-align: center;
    color: white;
    margin: auto;
    height: 50px;
  }
  .button_container {
    width: 100%;
    height: 350px;
    .button {
      background-color: rgb(82, 134, 212);
      background-color: rgb(95, 250, 147);
      box-shadow: 3px 0 5px 0px rgba(0,0,0,0.5);
      float: left;
      width: 100%;
      height: 50px;
      position: relative;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 5px 0px rgba(0,0,0,0.5);
        transform: translateY(-1px)
      }
      &.disabled {
        background-color: rgb(68, 66, 66);
        cursor: not-allowed;

        .icon, p {
          color: rgb(126, 132, 141);
        }
      }
      .icon, p {
        float: left;
        position: absolute;
        color: rgb(82, 134, 212);
      }
      .icon {
        top: 0; bottom: 0px;
        // left: 20p; 
        right: 20px;
        margin: auto;
      }
      p {
        font-weight: 600;
        line-height: 50px;
        // left: 30px; 
        right: 80px;
        margin: 0 auto;
      }
    }
  }
}
