//out: style.css, sourcemap: false, compress: true

.buttons {
  width: 1000px;
  height: 100px;
  opacity: 0;
  &.opened {
    opacity: 1;
  }
  .button_container {
    display: flex;
    flex-direction: 'row';
    background-color: green;
    .button {
      float: left;
      flex: 1;
      height: 100px;
      .icon, p {
        float: left;
        margin-top: 34px;
      }
      p {
        float: left;
        color: white;
        margin-left: 10px;
        line-height: 32px;
      }
    }
  }
}
