//out: style.css, sourcemap: false, compress: true

.buttons {
  width: 1000px;
  height: 100px;
  opacity: 0;
  &.opened {
    opacity: 1;
  }
  .button_container {
    width: 1000px;
    flex-direction: 'row';
    .button {
      background-color: green;
      float: left;
      width: calc(1000px/6);
      height: 100px;
      position: relative;
      .icon, p {
        float: left;
        position: absolute;
      }
      .icon {
      }
      p {
        float: left;
        color: white;
        margin-left: 0;
        // line-height: 32px;
      }
    }
  }
}
