//out: style.css, compress: true, sourcemap: false

.images_container {
  width: 100%;
  .similar_web_images {
    width: 33%;
    height: 250px;
    margin-bottom: 20px;
    float: left;
    object-fit: contain;
  }
}