//out: style.css, sourcemap: false, compress: true

body { padding: 0; margin: 0; }
h1 {margin: 0;}

* {font-family: 'Montserrat';}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Montserrat';
  font-weight: 300;
}

.app {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  background-color: gainsboro;

  .title {
    text-align: center;
    position: absolute;
    left: 0; right: 0;
    top: 50px;
    margin: auto;
    font-size: 2em;
    font-weight: 300;
    transition: 0.5s;
    &.closed {
      transform: scale(0);
    }
  }

  .data-container-ref {
    display: block;
    position: absolute;
    top: 100vh;
  }

  // .page_content {
  //   width: 100%;
  //   padding-top: 100px;
  // }
}

